version: '3.7'

services:
  study:
    build: .
    expose:
      - 8000
    environment:
      - ROOT_PATH=/api/study
      - SERVICE_NAME=study-backend-service
      - COLLECTOR_URL=http://collector:8000
      - EXPERIMENT=1
      - DB_HOST=couchdb
      - DB_PORT=5984
      - DB_USER=${COUCHDB_USER}
      - DB_PASSWORD=${COUCHDB_PASSWORD}  